h1 {
   font-family: 'PT Sans', sans-serif;
   font-size: 4em;
   text-align: center;
   padding: 20px 0;
}



  
p {
   font-family: 'PT Sans', sans-serif;
   font-size: 1em;
   text-align: center;
}


body {
   margin: 0;
   padding: 0;
}